modules = ["nodejs-24", "rust"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3001

[[ports]]
localPort = 8083
externalPort = 3002

[[ports]]
localPort = 8084
externalPort = 4200

[[ports]]
localPort = 8085
externalPort = 5173

[[ports]]
localPort = 8086
externalPort = 5000

[[ports]]
localPort = 8087
externalPort = 6000

[[ports]]
localPort = 18487
externalPort = 3000

[[ports]]
localPort = 22815
externalPort = 3003

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
BSC_WZBX_ADDRESS = "0xf7AA4bF2e80742411AD3AD3B8f70885E12C8dc09"
BSC_BRIDGE_ADDRESS = "0xa6dF16fdFF669FD62aF9f947B089516671094F85"
BSC_CHAIN_ID = "56"
BSC_CHAIN_NAME = "BNB Smart Chain"
BSC_PUBLIC_RPC = "https://bsc-dataseed.binance.org"
BSC_EXPLORER = "https://bscscan.com"
ZEBVIX_ZBX_ASSET_ID = "240518168576"
